docker {
    enabled = true
}

process {
    container = 'tempus_nextflow_reg:0.1.0'
}

profiles {
    local {
        params {
            publish_dir = "${projectDir}/output"
            dataset = "${projectDir}/data/penguins.csv"
            slice_by = 'species'
            features = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']
            target = 'body_mass_g'  
        }
    }
    slice_test1 {
        params {
            publish_dir = "${projectDir}/output"
            dataset = "${projectDir}/data/penguins.csv"
            slice_by = 'island'
            features = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']
            target = 'body_mass_g'  
        }
    }
    slice_test2 {
        params {
            publish_dir = "${projectDir}/output"
            dataset = "${projectDir}/data/penguins.csv"
            slice_by = 'sex'
            features = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']
            target = 'body_mass_g'  
        }
    }
    feat_test {
        params {
            publish_dir = "${projectDir}/output"
            dataset = "${projectDir}/data/penguins.csv"
            slice_by = 'species'
            features = ['bill_depth_mm', 'flipper_length_mm']
            target = 'bill_length_mm'  
        }
    }
}