docker.enabled = true
process.container = 'tempus_nextflow_reg:0.1.0'
params.publish_dir = "${projectDir}/output"
params.dataset = "${projectDir}/data/penguins.csv"
params.slice_by = 'species'
params.features = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']
params.target = 'body_mass_g'   
